# Node modules
node_modules/

# Environment files
.env

# Log files
*.log

# Build directories
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Editor swap files
*.swp
*.swo
